@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: none;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    background-color: #696969;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'kdam thmor pro', sans-serif;
}

li:hover {
    color: #D21617;
}

 #logo {
    width: 150px;
    height: auto;
}

html, body {
    background-color: #696969;
}

h2 {
    color: aliceblue;
    font-size: 19px;
    font-family: 'kdam thmor pro', sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1200px;
    margin: auto;
    grid-gap: 40px;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 25px;
}

.card .user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card h3 {
    font-family: 'kdam thmor pro', sans-serif;
    margin-bottom: 5px;
}

.star {
    width: 20px;
}

p {
    margin-top: 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
}

footer {
    height: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: aliceblue;
    font-size: 19px;
    font-family: 'kdam thmor pro', sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    .cards {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}